// variables file


$col-lightblue : #C7F7FF;
$col-medblue   : #89C0C9;
$col-darkblue  : #3a5E63;
$col-lightbrown: #C9A689;
$col-darkbrown : #7C593C;
$col-lightgrey : #d4d4d4;
$col-darkgrey  : #222;
$col-lightwhite: #fff;


$font-sans-serif: "Josefin Sans","Trebuchet MS", Helvetica, sans-serif;
$font-serif: Cardo,"Palatino Linotype","Book Antiqua", Palatino, serif;